:where(.card-suggestion){
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 347px;
  padding-right: 40px;
}
:where(.card-discription){
  position: relative;
  right: 30px;
}