:where(header){
  grid-area: header;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
:where( header input){
  width: 268px;
  height: 36px;
  padding: 0px 16px;
  border-radius: 8px;
  border: none;
  outline
  : 1px solid rgb(219, 211, 211);

}
:where(header input:focus-visible){
outline:  1px solid rgb(219, 211, 211);
border: none;
border-style: none;
}
:where(header .logo){
  width: 35%;
}

:where(header .contenedor-input){
  width: 30%;
}
:where(nav){
  width: 35%;
}
